{% extends "users_register/base.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Full Name</td>
            <td>Mobile</td>
            <td>Email</td>
            <td>Password</td>
            <td>
                <a href="{% url 'users_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add User
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in users_list %}
        <tr>
            <td>{{user.fullname}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>
            <td>
                <a href="{% url 'users_update' user.id %}" class="bbtn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form action="{% url 'users_delete' user.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}